@use "./vars" as v;
@use "./mixins" as m;

.header {
    font-family: "Karla", sans-serif, serif;

    font-size: 16px;
    padding-block: 1.5rem;
    background: v.$light_gray;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m.media-tablet {
            flex-direction: column;
            gap: 2rem;
        }

        @include m.media-mobile {
            flex-direction: row;
        }
    }
    &__nav {
        @include m.media-mobile {
            display: none;
        }
        ul {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            a {
                color: v.$links_color;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 3px;
            }
            .btn {
                color: #000;
            }
        }
    }
}
