$main_bg: hsl(256, 26%, 20%);
$light_gray: hsl(0, 0%, 98%);
$links_color: hsl(273, 4%, 51%);
$mobile-menu: hsl(270, 9%, 17%);
$violet: $main_bg;
$bp-mobile: 500px;
$bp-tablet: 768px;
$bp-desktop: 1220px;
